.main{
    
    background-image: linear-gradient(130deg,
            hsl(199deg 82% 65%) 1%,
            hsl(200deg 80% 61%) 44%,
            hsl(202deg 77% 57%) 50%,
            hsl(204deg 75% 53%) 51%,
            hsl(206deg 72% 50%) 50%,
            hsl(209deg 71% 48%) 49%,
            hsl(214deg 65% 48%) 50%,
            hsl(221deg 57% 48%) 56%,
            hsl(231deg 48% 48%) 99%);
}

.social-logos{
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-top: 20px;
}

/* .footer-sections{
    margin: 10px 0px;
    padding: 10px;
} */